exportPattern("^[^\\.]")
importFrom("utils", "unzip")
importFrom("utils", "choose.dir")
importFrom("utils", "data")
importFrom("utils", "read.table")
importFrom("manipulateR", "consecutive.groups")
importFrom("manipulateR", "force.directories")
importFrom("manipulateR", "doyFromDate")
importFrom("manipulateR", "monthFromDate")
importFrom("manipulateR", "yearFromDate")
import(terra)
import(ggplot2)
