exportPattern("^[^\\.]")
importFrom("utils", "unzip")
importFrom("utils", "choose.dir")
importFrom("utils", "data")
importFrom("utils", "read.table")
importFrom("manipulateR", "consecutive.groups")
importFrom("manipulateR", "force.directories")
import(terra)
